[submodule "nativeapi"]
	path = core
	url = ../nativeapi.git
	branch = main
[submodule "packages/cnativeapi/cxx_impl"]
	path = bindings/flutter/packages/cnativeapi/cxx_impl
	url = https://github.com/libnativeapi/nativeapi.git
[submodule "packages/tray_manager"]
	path = bindings/flutter/packages/tray_manager
	url = https://github.com/leanflutter/tray_manager
	branch = dev
[submodule "packages/hotkey_manager"]
	path = bindings/flutter/packages/hotkey_manager
	url = https://github.com/leanflutter/hotkey_manager
	branch = dev
[submodule "packages/window_manager"]
	path = bindings/flutter/packages/window_manager
	url = https://github.com/leanflutter/window_manager
	branch = dev
[submodule "packages/screen_retriever"]
	path = bindings/flutter/packages/screen_retriever
	url = https://github.com/leanflutter/screen_retriever
	branch = dev
[submodule "packages/clipboard_watcher"]
	path = bindings/flutter/packages/clipboard_watcher
	url = https://github.com/leanflutter/clipboard_watcher
	branch = dev
[submodule "packages/launch_at_startup"]
	path = bindings/flutter/packages/launch_at_startup
	url = https://github.com/leanflutter/launch_at_startup
	branch = dev
[submodule "packages/protocol_handler"]
	path = bindings/flutter/packages/protocol_handler
	url = https://github.com/leanflutter/protocol_handler
	branch = dev
[submodule "packages/local_notifier"]
	path = bindings/flutter/packages/local_notifier
	url = https://github.com/leanflutter/local_notifier
	branch = dev
