name: nativeapi_flutter
publish_to: none
environment:
  sdk: ^3.9.0

workspace:
  - examples/display_example
  - examples/menu_example
  - examples/storage_example
  - examples/tray_icon_example
  - examples/window_example
  - packages/cnativeapi
  - packages/cnativeapi/example
  - packages/native_secure_storage
  - packages/nativeapi
  - packages/nativeapi/example

dev_dependencies:
  melos: ^7.1.1
