{%- macro render_function(item, mapping) -%}
{{ item.api_return_type }} {{ item.api_name }}(
{%- for param in item.params %}
  {{ param.api_type }} {{ param.name }}{% if not loop.last %}, {% endif %}
{%- endfor %}
) {
  {%- if item.return_bridge == 'string' %}
  final cString = cnativeApiBindings.{{ item.call_symbol }}(
  {%- for arg in item.call_args %}
    {{ arg }}{% if not loop.last %}, {% endif %}
  {%- endfor %}
  );
  if (cString == ffi.nullptr) return '';
  final value = cString.cast<pkgffi.Utf8>().toDartString();
  cnativeApiBindings.{{ item.string_free_symbol }}(cString);
  return value;
  {%- elif item.return_bridge == 'offset' %}
  final nativeValue = cnativeApiBindings.{{ item.call_symbol }}(
  {%- for arg in item.call_args %}
    {{ arg }}{% if not loop.last %}, {% endif %}
  {%- endfor %}
  );
  return ui.Offset(nativeValue.x, nativeValue.y);
  {%- elif item.return_bridge == 'size' %}
  final nativeValue = cnativeApiBindings.{{ item.call_symbol }}(
  {%- for arg in item.call_args %}
    {{ arg }}{% if not loop.last %}, {% endif %}
  {%- endfor %}
  );
  return ui.Size(nativeValue.width, nativeValue.height);
  {%- elif item.return_bridge == 'rect' %}
  final nativeValue = cnativeApiBindings.{{ item.call_symbol }}(
  {%- for arg in item.call_args %}
    {{ arg }}{% if not loop.last %}, {% endif %}
  {%- endfor %}
  );
  return ui.Rect.fromLTWH(nativeValue.x, nativeValue.y, nativeValue.width, nativeValue.height);
  {%- elif item.return_bridge == 'void' %}
  cnativeApiBindings.{{ item.call_symbol }}(
  {%- for arg in item.call_args %}
    {{ arg }}{% if not loop.last %}, {% endif %}
  {%- endfor %}
  );
  {%- else %}
  return cnativeApiBindings.{{ item.call_symbol }}(
  {%- for arg in item.call_args %}
    {{ arg }}{% if not loop.last %}, {% endif %}
  {%- endfor %}
  );
  {%- endif %}
}
{%- endmacro -%}
