{%- macro map_type(type_info, mapping) -%}
{%- if not type_info -%}
()
{%- elif type_info.kind == 'void' -%}
()
{%- elif type_info.kind == 'bool' -%}
bool
{%- elif type_info.kind in ['int8','int16','int32','int64','uint8','uint16','uint32','uint64','size_t'] -%}
{%- set key = (type_info.name if type_info.name else type_info.kind) -%}
{{ mapping.types.get(key, "::core::ffi::c_void") }}
{%- elif type_info.kind == 'float' -%}
f32
{%- elif type_info.kind == 'double' -%}
f64
{%- elif type_info.kind == 'cstring' -%}
*const ::core::ffi::c_char
{%- elif type_info.kind == 'pointer' -%}
{%- if type_info.to and type_info.to.kind == 'void' -%}
*mut ::core::ffi::c_void
{%- elif type_info.to and type_info.to.kind == 'cstring' -%}
*const ::core::ffi::c_char
{%- else -%}
*mut ::core::ffi::c_void
{%- endif -%}
{%- elif type_info.kind in ['struct','class','named','enum','typedef','elaborated'] -%}
{%- set n = type_info.name if type_info.name else '::core::ffi::c_void' -%}
{{ mapping.types.get(n, '*mut ::core::ffi::c_void') }}
{%- else -%}
*mut ::core::ffi::c_void
{%- endif -%}
{%- endmacro -%}
