{%- macro dart_type(type_info) -%}
{%- if not type_info -%}
dynamic
{%- else -%}
{{ type_info.mapped }}
{%- endif -%}
{%- endmacro -%}

{%- macro native_to_dart(type_info, expr) -%}
{%- if type_info.kind in ('cstring', 'string') -%}
{{ expr }} == ffi.nullptr ? '' : {{ expr }}.cast<pkgffi.Utf8>().toDartString()
{%- elif type_info.bridge_kind == 'enum' -%}
{{ type_info.mapped }}.fromNativeValue({{ expr }})
{%- elif type_info.bridge_kind == 'struct' -%}
{{ type_info.mapped }}.fromNative({{ expr }})
{%- else -%}
{{ expr }}
{%- endif -%}
{%- endmacro -%}

{%- macro render_type(item, mapping) -%}
{%- set mapped_name = mapping.types.get(item.raw.qualified_name) or mapping.types.get(item.raw.name) -%}
{%- if mapped_name and mapped_name != item.name -%}
{# Skip generating a local value type when it is bridged to an existing Dart type. #}
{%- else -%}
class {{ item.name }} {
  const {{ item.name }}({
{%- for field in item.fields %}
    required this.{{ field.name }},
{%- endfor %}
  });

{%- for field in item.fields %}
  final {{ dart_type(field.type) }} {{ field.name }};
{%- endfor %}

  factory {{ item.name }}.fromNative({{ item.native_type }} native) {
    return {{ item.name }}(
{%- for field in item.fields %}
      {{ field.name }}: {{ native_to_dart(field.type, 'native.' ~ (field.raw.name if field.raw else field.name)) }},
{%- endfor %}
    );
  }
}
{%- endif -%}
{%- endmacro -%}
