{%- macro is_string_type(type_info) -%}
{%- if type_info.kind in ('cstring', 'string') -%}
true
{%- elif type_info.name and 'string' in type_info.name|lower -%}
true
{%- elif type_info.kind == 'pointer' and type_info.to and type_info.to.kind in ('cstring', 'string') -%}
true
{%- elif type_info.kind == 'reference' and type_info.to and is_string_type(type_info.to) -%}
true
{%- else -%}
false
{%- endif -%}
{%- endmacro -%}

{%- macro map_type(type_info, mapping) -%}
{%- if not type_info -%}
()
{%- elif type_info.kind == 'void' -%}
()
{%- elif type_info.kind == 'bool' -%}
bool
{%- elif type_info.kind in ['int8','int16','int32','int64','uint8','uint16','uint32','uint64','size_t'] -%}
{%- set key = (type_info.name if type_info.name else type_info.kind) -%}
{{ mapping.types.get(key, "::core::ffi::c_void") }}
{%- elif type_info.kind == 'float' -%}
f32
{%- elif type_info.kind == 'double' -%}
f64
{%- elif type_info.kind in ('cstring', 'string') -%}
&str
{%- elif type_info.kind == 'pointer' -%}
{%- if type_info.to and type_info.to.kind == 'void' -%}
*mut ::core::ffi::c_void
{%- elif is_string_type(type_info.to) -%}
&str
{%- else -%}
*mut ::core::ffi::c_void
{%- endif -%}
{%- elif type_info.kind == 'reference' and is_string_type(type_info.to) -%}
&str
{%- elif type_info.kind in ['struct','class','named','enum','typedef','elaborated'] -%}
{%- set n = type_info.name if type_info.name else '::core::ffi::c_void' -%}
{{ mapping.types.get(n, '*mut ::core::ffi::c_void') }}
{%- elif type_info.kind == 'reference' -%}
*mut ::core::ffi::c_void
{%- else -%}
*mut ::core::ffi::c_void
{%- endif -%}
{%- endmacro -%}
